In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
zone_lookup = pd.read_csv('taxi_zone_lookup.csv')

In [6]:
zone_lookup.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
zone_lookup.to_sql('zones', con=engine, if_exists='replace')